[Unit]
Description=your network config sucks
Wants=network.target
Before=network.target

[Service]
ExecStart=/bin/sh -c "/sbin/dhclient -nw eth0 && /sbin/avahi-autoipd -D eth1"
Type=forking

[Install]
WantedBy=multi-user.target
